h1 #{title}

div#colors
  div#loading
    span Loading

div#editor(class="hidden")
  form#editorForm
    button#closeEditor close
    h2#currentTitle
    input#colorIdInput(type="hidden" name="color_id")
    input#hexInput(type="color" name="hex")
    input#nameInput(type="text" name="name")
    button(type="submit") save
